@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* font-family: 'Red Hat Display', sans-serif; */

:root {
  --card-body: #fff;
  --background-color: hsl(225, 100%, 94%);
  --paragraph-color: hsl(224, 23%, 55%);
  --header-color: hsl(223, 47%, 23%);
  --black: #000;
  --bright-blue: hsl(245, 75%, 52%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--background-color);
  font-size: 16px;
}

img,
picture,
video,
canvas,
svg,
button {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}